:root{
    --primary-color: #822659;
    --secondary-color: #B34180;
    --tertiary-color: #E36BAE;
    --fourth-color: #F8A1D1;

}




@import url('https://fonts.googleapis.com/css2?family=Arima&family=Poppins:wght@200&display=swap');

 
body{
    font-family: 'Arima', cursive;
}
/* margin: 0px; */

/* header */
.navigation{
    background-color: var(--fourth-color);
    color: var(--primary-color);  
    padding: 0.5rem;  
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

.navigation .link{
    color: var(--primary-color);
    text-decoration:none;
    font-size: larger;
}

.navigation .navpills{
    text-align: right;

}

.navigation .nav-brand{
    font-weight: bolder;
    font-size: x-large;
    padding-top: 2rem;
}

.list-item-inline{
    display: inline;
    padding: 0.5rem;
}
.hero-image{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
   
   
}
.section{
    display: block;
    background-color: #f8a1d12f;
    padding: 2.5rem;
    text-align: center;
}
.section-headings{
    text-align: center;
    text-shadow: #F8A1D1;
    color:#822659;
    font-weight: bold;
}
.section-content{
    text-align: center;
    color: black;
}
.section2{
    display: block;
    background-color: #f8a1d107;
    padding: 2.5rem;
    text-align: center;
}
.section-link{
    background-color: #B34180;
    color: beige;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 10%;
}
.footer{
    display: block;
    background-color: #822659;
    padding: 2rem;
}
.footer-heading{
    text-align: center;
    color: beige;
    font-weight: bold;
}

.footer-link{
    color: beige;
    text-decoration: none;
}
.footer-list-align{
    text-align: center;
    padding: 0.5rem;
}